mixin document-card(title="Заголовок")
    li.document-card
        span.document-card__headline= title
        .document-card__label
            <svg xmlns="http://www.w3.org/2000/svg" width="13.63" height="16.344" viewBox="0 0 13.63 16.344"><g transform="translate(0 0)"><rect width="7.021" height="1.022" transform="translate(3.302 4.097)"/><rect width="7.021" height="1.022" transform="translate(3.302 6.546)"/><path d="M248.456,669.671H235.517a.34.34,0,0,0-.34.34v11.347a.808.808,0,0,0-.01.1,3.3,3.3,0,0,0,2.87,3.265l-.01.007,10.089,1.286a.681.681,0,0,0,.681-.681V670.011A.341.341,0,0,0,248.456,669.671Zm-1.362,14.372-6.755-3.962c-.159-.1-.288-.031-.288.158v1.16c0,.019,0,.037,0,.058a1.591,1.591,0,0,1-1.589,1.593,1.538,1.538,0,0,1-1.583-1.535c0-.031,0-.075,0-.105V671.373h10.215v12.669Z" transform="translate(-235.167 -669.671)"/></g></svg>
        a(href="").link-block