include ./mixins/breadcrumbs/breadcrumbs.pug
include ./mixins/file/file.pug
include ./mixins/share-line/share-line.pug

doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container
                +breadcrumbs("Новость")
                .content-with-aside
                    div
                        h1.headline-block Принято решение о досрочном сложении полномочий главы Пермского района
                        .typical-content
                            p Счетная палата России признала деятельность Федерального агентства по управлению государственным имуществом (Росимущество) в 2019 году неудовлетворительной, передает ТАСС со ссылкой на заключение Счетной палаты по результатам проверки ведомства. 
                            p Причиной тому назван значительный объем выявленных нарушений по администрированию неналоговых доходов и управлению федеральным имуществом. 
                            p Так, по результатам проверки консолидированная бюджетная отчетность Росимущества за 2019 год признана недостоверной, поскольку показатели искажены на общую сумму 1 339 292,4 тыс. руб. 
                            p Кроме того, обнаружено расхождение между стоимостными данными в бюджетном учете и реестром федерального имущества в 6,7 трлн руб.
                            p По данным контрольного ведомства, Росимущество исполнило доходы с незначительным превышением — 100,7% от прогноза, или 474 млрд руб.
                            img(src="assets/img/article-img.png", alt="Заголовок картинки, может быть очень длинным", title="Описание картинки обычно очень длинное, Описание картинки обычно очень длинное, Описание карты обычно очень очень длинное. Описание картинки обычно очень длинное.")
                            blockquote Счетная палата России признала деятельность Федерального агентства по управлению государственным имуществом (Росимущество) в 2019 году неудовлетворительной, передает ТАСС со ссылкой на заключение Счетной палаты по результатам проверки ведомства. Причиной тому назван значительный объем выявленных нарушений по администрированию неналоговых доходов и управлению федеральным имуществом. Так, по результатам проверки консолидированная бюджетная отчетность Росимущества за 2019 год признана недостоверной, поскольку показатели искажены на общую сумму 1 339 292,4 тыс. руб. Кроме того, обнаружено расхождение между стоимостными данными в бюджетном учете и реестром федерального имущества в 6,7 трлн руб. По данным контрольного ведомства, Росимущество исполнило доходы с незначительным превышением — 100,7% от прогноза, или 474 млрд руб.
                            ol
                                li Ведение бюджетного (бухгалтерского) и налогового учета, кадрового учета (отдельных его направлений), формирование бюджетной (бухгалтерской) и налоговой отчетности для органов государственной власти (государственных органов) Пермского края, государственных учреждений Пермского края;
                                li Финансово-экономическое обеспечение органов государственной власти (государственных органов) Пермского края, государственных учреждений Пермского края;
                                li Формирование бюджетной (бухгалтерской) и налоговой отчетности органов государственной власти (государственных органов) Пермского края, государственных учреждений Пермского края.
                            hr
                            ul
                                li На гербе белый конь встает на дыбы на фоне полей с хмелем, пруда и елового леса. Все эти элементы, по словам старосты Мокино Ильфата Суболькова, рассказывают об истории деревни. Ведь раньше в Мокино разводили лошадей, рыбу в прудах и выращивали хмель. Герб, конечно, не вполне соответствует правилам геральдики, но именно за такой вариант, нарисованный Олегом Клементьевым, проголосовало большинство жителей Мокино.
                                li На гербе белый конь встает на дыбы на фоне полей с хмелем, пруда и елового леса. Все эти элементы, по словам старосты Мокино Ильфата Суболькова, рассказывают об истории деревни. Ведь раньше в Мокино разводили лошадей, рыбу в прудах и выращивали хмель. Герб, конечно, не вполне соответствует правилам геральдики, но именно за такой вариант, нарисованный Олегом Клементьевым, проголосовало большинство жителей Мокино.
                            hr
                            h1 Заголовок h1
                            h2 Заголовок h2
                            h3 Заголовок h3
                            h4 Заголовок h4
                            h5 Заголовок h5
                            h6 Заголовок h6
                            hr
                            .table-wrapper
                                table
                                    tr
                                        th Должность
                                        th ФИО
                                        th Телефон
                                    tr
                                        td Глава Пермского муниципального района, председатель Земского Собрания
                                        td Кузнецов Александр Павлович
                                        td 2 96-21-42
                                    tr
                                        td Глава Пермского муниципального района, председатель Земского Собрания
                                        td Кузнецов Александр Павлович
                                        td 2 96-21-42
                                    tr
                                        td Глава Пермского муниципального района, председатель Земского Собрания
                                        td Кузнецов Александр Павлович
                                        td 2 96-21-42
                        h2.headline-block Документы
                        +file
                        +file
                        +share-line
                    div
                        nav.article-aside-nav
                            span.article-aside-nav__headline Разделы
                            ul
                                li
                                    a(href="").active Новости пермского края
                                li
                                    a(href="") Официальная информация
                                li
                                    a(href="") Новости ГКУ ПК «УЦУ»
            include ./templates/feedback-form/feedback-form.pug
            include ./templates/mobile-menu/mobile-menu.pug
        footer
            include ./templates/footer/footer.pug